<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>NPG Project Denver</title>
 <meta http-equiv="refresh" content="10">
 </head>
  <body>
    <h1 align=center>EC2 Instance <%= hostname %></h1>
    <p align=center>
    <font face="Arial, helvetica, sans-serif" size="3">
    This website is a proof-of-concept of running a whole datacenter with full application and database stacks on top of Amazon Cloud Service. This cloud instance has the IP address of: <%= ipaddress %>
    <br>
    <p align=center>
    Webmaster
    <br>
    -you-know-who-
    </font>

  </body>
</html>
